<html>
    <head>
        <title>Takumi's blog2</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Takumi's blog2</a></h1>
        </div>

        <div>
            <p>published: 2026/04/10</p>
            <h2><a href="">My first post</a></h2>
            <p>これはDjango学習の復習用に作った2番目のblogです。</p>
        </div>

        <div>
            <p>published: 2026/04/10</p>
            <h2><a href="">My second post</a></h2>
            <p>これは2番目のpostです。</p>
        </div>
    </body>
</html>
